<div id="slider" class="container_16 clearfix" style="width: 725px;margin-left: -10px;">
<a class="next"></a>
<div id="slider-wrap">
  <div style="left: -2880px;" id="slider-inner"><div class="slide grid_16 cloned" itemscope="" itemtype="http://data-vocabulary.org/Product">
    <span style="display: none;" itemprop="brand">gantibaju</span>
    <div class="slide-image">
      <%= image_tag "Girls-Domino-atau-Mati-WHITE-2.jpg" , :width => "712" , :class => "imgLarge tee_gl" %>

      <a href="http://www.gantibaju.com/tshirt/Domino-atau-Mati/104" title="Lihat detail" class="zoom">Lihat detail</a>
    </div>
    <div class="slide-desc" itemprop="category" content="Kaos / Tshirt">
      <h3><a href="http://www.gantibaju.com/tshirt/Domino-atau-Mati/104" title="Desain Kaos Domino atau Mati! gantibaju.com" itemprop="name">
        Domino atau Mati!</a>
      </h3>
      <p>oleh <a href="http://www.gantibaju.com/artist_page/Luthfi-Hadi-Abdullah/7834"><strong>Luthfi Hadi Abdullah</strong></a></p>
      <div class="slide-price" itemscope="" itemtype="http://data-vocabulary.org/Offer">
        <meta itemprop="currency" content="IDR">				
        IDR. <span itemprop="price">150.000</span>
      </div>
    </div>
  </div>
  <div class="slide grid_16">
    <div class="slide-image">
      <%= image_tag "Girls-Domino-atau-Mati-WHITE-2.jpg" , :width => "712" , :class => "imgLarge tee_gl" %>
      <a style="display: none;" href="http://www.gantibaju.com/banner.php?action=view&amp;id=7" onclick="setClickCount(7);" title="Lihat detail" class="zoom">Lihat detail</a>
    </div>
    <div class="slide-desc">
      <h3><a href="http://www.gantibaju.com/blog/?p=2213">Indonesia Rumah Kita Winner</a>
      </h3>
      <p></p>
      <div class="slide-price"></div>
    </div>
  </div><!-- .slide -->

  <div class="slide grid_16" itemscope="" itemtype="http://data-vocabulary.org/Product">
    <span style="display:none;" itemprop="brand">gantibaju</span>
    <div class="slide-image">
      <%= image_tag "Girls-Domino-atau-Mati-WHITE-2.jpg" , :width => "712" , :class => "imgLarge tee_gl" %>
      <a href="http://www.gantibaju.com/tshirt/Garuda-Kecil/121" title="Lihat detail" class="zoom">Lihat detail</a>
    </div>
    <div class="slide-desc" itemprop="category" content="Kaos / Tshirt">
      <h3><a href="http://www.gantibaju.com/tshirt/Garuda-Kecil/121" title="Desain Kaos Garuda Kecil gantibaju.com" itemprop="name">
        Garuda Kecil</a>
      </h3>
      <p>oleh <a href="http://www.gantibaju.com/Profile/ndikol"><strong>adhika rahmani</strong></a></p>
      <div class="slide-price" itemscope="" itemtype="http://data-vocabulary.org/Offer">
        <meta itemprop="currency" content="IDR">				
        IDR. <span itemprop="price">120.000</span>
      </div>
    </div>
  </div><!-- .slide -->
  <div class="slide grid_16" itemscope="" itemtype="http://data-vocabulary.org/Product">
    <span style="display:none;" itemprop="brand">gantibaju</span>
    <div class="slide-image">
      <%= image_tag "Girls-Domino-atau-Mati-WHITE-2.jpg" , :width => "712" , :class => "imgLarge tee_gl" %>
      <a href="http://www.gantibaju.com/tshirt/Angklung-Cewek/120" title="Lihat detail" class="zoom">Lihat detail</a>
    </div>
    <div class="slide-desc" itemprop="category" content="Kaos / Tshirt">
      <h3><a href="http://www.gantibaju.com/tshirt/Angklung-Cewek/120" title="Desain Kaos Angklung Cewek gantibaju.com" itemprop="name">
        Angklung Cewek</a>
      </h3>
      <p>oleh <a href="http://www.gantibaju.com/Profile/dreameric"><strong>Erix Yunanto</strong></a></p>
      <div class="slide-price" itemscope="" itemtype="http://data-vocabulary.org/Offer">
        <meta itemprop="currency" content="IDR">				
        IDR. <span itemprop="price">120.000</span>
      </div>
    </div>
  </div><!-- .slide -->
  <div class="slide grid_16" itemscope="" itemtype="http://data-vocabulary.org/Product">
    <span style="display:none;" itemprop="brand">gantibaju</span>
    <div class="slide-image">
      <%= image_tag "Girls-Domino-atau-Mati-WHITE-2.jpg" , :width => "712" , :class => "imgLarge tee_gl" %>
      <a href="http://www.gantibaju.com/tshirt/Sumpah-Pocong/111" title="Lihat detail" class="zoom">Lihat detail</a>
    </div>
    <div class="slide-desc" itemprop="category" content="Kaos / Tshirt">
      <h3><a href="http://www.gantibaju.com/tshirt/Sumpah-Pocong/111" title="Desain Kaos Sumpah Pocong gantibaju.com" itemprop="name">
        Sumpah Pocong</a>
      </h3>
      <p>oleh <a href="http://www.gantibaju.com/Profile/ganjarelex"><strong>Ganjar Darmayekti</strong></a></p>
      <div class="slide-price" itemscope="" itemtype="http://data-vocabulary.org/Offer">
        <meta itemprop="currency" content="IDR">				
        IDR. <span itemprop="price">120.000</span>
      </div>
    </div>
  </div><!-- .slide -->
  <div class="slide grid_16" itemscope="" itemtype="http://data-vocabulary.org/Product">
    <span style="display:none;" itemprop="brand">gantibaju</span>
    <div class="slide-image">
      <%= image_tag "Girls-Domino-atau-Mati-WHITE-2.jpg" , :width => "712" , :class => "imgLarge tee_gl" %>
      <a href="http://www.gantibaju.com/tshirt/Bom-Waktu/110" title="Lihat detail" class="zoom">Lihat detail</a>
    </div>
    <div class="slide-desc" itemprop="category" content="Kaos / Tshirt">
      <h3><a href="http://www.gantibaju.com/tshirt/Bom-Waktu/110" title="Desain Kaos Bom Waktu gantibaju.com" itemprop="name">
        Bom Waktu</a>
      </h3>
      <p>oleh <a href="http://www.gantibaju.com/Profile/emberplastik"><strong>emberplastik</strong></a></p>
      <div class="slide-price" itemscope="" itemtype="http://data-vocabulary.org/Offer">
        <meta itemprop="currency" content="IDR">				
        IDR. <span itemprop="price">120.000</span>
      </div>
    </div>
  </div><!-- .slide -->
  <div class="slide grid_16" itemscope="" itemtype="http://data-vocabulary.org/Product">
    <span style="display:none;" itemprop="brand">gantibaju</span>
    <div class="slide-image">
      <%= image_tag "Girls-Domino-atau-Mati-WHITE-2.jpg" , :width => "712" , :class => "imgLarge tee_gl" %>
      <a href="http://www.gantibaju.com/tshirt/Domino-atau-Mati/104" title="Lihat detail" class="zoom">Lihat detail</a>
    </div>
    <div class="slide-desc" itemprop="category" content="Kaos / Tshirt">
      <h3><a href="http://www.gantibaju.com/tshirt/Domino-atau-Mati/104" title="Desain Kaos Domino atau Mati! gantibaju.com" itemprop="name">
        Domino atau Mati!</a>
      </h3>
      <p>oleh <a href="http://www.gantibaju.com/artist_page/Luthfi-Hadi-Abdullah/7834"><strong>Luthfi Hadi Abdullah</strong></a></p>
      <div class="slide-price" itemscope="" itemtype="http://data-vocabulary.org/Offer">
        <meta itemprop="currency" content="IDR">				
        IDR. <span itemprop="price">150.000</span>
      </div>
    </div>
  </div><!-- .slide -->



  <div class="slide grid_16 cloned">
    <div class="slide-image">
      <%= image_tag "Girls-Domino-atau-Mati-WHITE-2.jpg" , :width => "712" , :class => "imgLarge tee_gl" %>
      <a href="http://www.gantibaju.com/banner.php?action=view&amp;id=7" onclick="setClickCount(7);" title="Lihat detail" class="zoom">Lihat detail</a>
    </div>
    <div class="slide-desc">
      <h3><a href="http://www.gantibaju.com/blog/?p=2213">Indonesia Rumah Kita Winner</a>
      </h3>
      <p></p>
      <div class="slide-price"></div>
    </div>
  </div></div>
</div><!-- #slider-wrap -->
<a class="prev"></a>
<div class="navi"><a class="" href="#0"></a><a class="" href="#1"></a><a class="active" href="#2"></a><a href="#3"></a><a href="#4"></a><a href="#5"></a></div>

</div><!-- #slider -->