
<h2 id="voting">Voting Desain Terbaru</h2>
<div class="" style="display: block;">
  <div class="designfront-image">
    <a href="http://www.gantibaju.com/tees/Tari-Merak/6018" title="Desain Kaos Tari Merak  di gantibaju.com oleh Dionisius Sundoro ">
      <%= image_tag "thumb65609214indonesia-2.jpg", :width=> "120"%>
      <!--       <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/thumb239788631Tari-Merak-thumb.jpg" alt="Desain Kaos Tari Merak " title="Desain Kaos Tari Merak  di gantibaju.com oleh Dionisius Sundoro " width="120"> -->
    </a>
    <!--<div class="designFront-votes"> Votes</div>-->
  </div>
  <div class="designfront">
    <h3><a href="http://www.gantibaju.com/tees/Tari-Merak/6018" title="Desain Kaos Tari Merak  di gantibaju.com oleh Dionisius Sundoro " style="color: rgb(50, 58, 71);">Tari Merak </a></h3>

    <p><span style="font:italic 1em/1 Georgia,'Times New Roman',Times,serif">oleh</span> <a href="http://www.gantibaju.com/Profile/diosundoro" title="Profile Dionisius Sundoro Designer gantibaju.com">Dionisius Sundoro</a>, dapat di-vote sampai <span style="font:italic 1em/1 Georgia,'Times New Roman',Times,serif">25 Oct 2011</span></p>
    <p>Tari Merak adalah
      tari yang sudah sangat terkenal di masyarakat Sunda. Keindahan dan 
      kelincahan tari khas Sunda ini terlihat lebih dinamis d ...</p>
      <div class="commentDesignFront"><!--<h3>Komentar Terakhir :</h3>-->
        <div style="position: relative;">
          <a href="http://www.gantibaju.com/artist_page/cuss-pahing/19283" title="">
            <strong>cuss pahing</strong>
          </a>  berkomentar pada desain ini :
        </div>
        <div class="comment-desc" style="width:380px">
          <p>waw.. drawingnya keren.. coba klo dikasih warna.. pasti lebih gilak...:D</p>

        </div>
      </div>
      <div class="clear">

      </div>
      <div class="commentDesignFront"><span class="voteAccFront" title="18 Votes">18 </span><span class="commentAccFront" title="16 Comment">16</span></div>
    </div>
  </div>
  <div class="clear">

  </div>
  <hr style="color: silver;">
  <div class="" style="display: block;">
    <div class="designfront-image">
      <a href="http://www.gantibaju.com/tees/Pocong-Juga-Manusia/6015" title="Desain Kaos Pocong Juga Manusia di gantibaju.com oleh Frans ">
        <%= image_tag "thumb65609214indonesia-2.jpg", :width=> "120"%>
        <!-- <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/thumb243345588pocongengklekthumb.jpg" alt="Desain Kaos Pocong Juga Manusia" title="Desain Kaos Pocong Juga Manusia di gantibaju.com oleh Frans " width="120"> -->
      </a>
      <!--<div class="designFront-votes"> Votes</div>-->
    </div>
    <div class="designfront">
      <h3><a href="http://www.gantibaju.com/tees/Pocong-Juga-Manusia/6015" title="Desain Kaos Pocong Juga Manusia di gantibaju.com oleh Frans " style="color: rgb(50, 58, 71);">Pocong Juga Manusia</a></h3>

      <p><span style="font:italic 1em/1 Georgia,'Times New Roman',Times,serif">oleh</span> <a href="http://www.gantibaju.com/Profile/flyc" title="Profile Frans Designer gantibaju.com">Frans</a>, dapat di-vote sampai <span style="font:italic 1em/1 Georgia,'Times New Roman',Times,serif">24 Oct 2011</span></p>
      <p>Semua manusia butuh refreshing, nggak terkecuali si Pocong.  *6 warna di atas khaki. ...</p>
      <div class="commentDesignFront"><!--<h3>Komentar Terakhir :</h3>-->
        <div style="position: relative;">
          <a href="http://www.gantibaju.com/artist_page/cuss-pahing/19283" title="">
            <strong>cuss pahing</strong>
          </a>  berkomentar pada desain ini :
        </div>
        <div class="comment-desc" style="width:380px">
          <p>suka ama stylenya.. so simple so nice... MAX*5</p>

        </div>
      </div>
      <div class="clear">

      </div>
      <div class="commentDesignFront"><span class="voteAccFront" title="25 Votes">25 </span><span class="commentAccFront" title="33 Comment">33</span></div>
    </div>
  </div>
  <div class="clear">

  </div>
  <hr style="color: silver;">
  <div class="" style="display: block;">
    <div class="designfront-image">
      <a href="http://www.gantibaju.com/tees/Ngesot/6008" title="Desain Kaos Ngesot... di gantibaju.com oleh Frans ">
        <%= image_tag "thumb65609214indonesia-2.jpg", :width=> "120"%>
        <!-- <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/thumb243342140susterngesotthumb.jpg" alt="Desain Kaos Ngesot..." title="Desain Kaos Ngesot... di gantibaju.com oleh Frans " width="120"> -->
      </a>
      <!--<div class="designFront-votes"> Votes</div>-->
    </div>
    <div class="designfront">
      <h3><a href="http://www.gantibaju.com/tees/Ngesot/6008" title="Desain Kaos Ngesot... di gantibaju.com oleh Frans " style="color: rgb(50, 58, 71);">Ngesot...</a></h3>

      <p><span style="font:italic 1em/1 Georgia,'Times New Roman',Times,serif">oleh</span> <a href="http://www.gantibaju.com/Profile/flyc" title="Profile Frans Designer gantibaju.com">Frans</a>, dapat di-vote sampai <span style="font:italic 1em/1 Georgia,'Times New Roman',Times,serif">23 Oct 2011</span></p>
      <p>Suster Ngesot, versi imut... :-) ...</p>
      <div class="commentDesignFront"><!--<h3>Komentar Terakhir :</h3>-->
        <div style="position: relative;">
          <a href="http://www.gantibaju.com/artist_page/Frans/24334" title="">
            <strong>Frans</strong>
          </a>  berkomentar pada desain ini :
        </div>
        <div class="comment-desc" style="width:380px">
          <p>Yap, sebenernya ini gambar iseng yang gue bikin beberapa bulan lalu. Kemaren2 iseng coba submit di m</p>

        </div>
      </div>
      <div class="clear">

      </div>
      <div class="commentDesignFront"><span class="voteAccFront" title="18 Votes">18 </span><span class="commentAccFront" title="23 Comment">23</span></div>
    </div>
  </div>
  <div class="clear">

  </div>
  <hr style="color: silver;">
  <div class="" style="display: block;">
    <div class="designfront-image">
      <a href="http://www.gantibaju.com/tees/Save-Orangutan/6004" title="Desain Kaos Save Orangutan di gantibaju.com oleh ramdhani nuzul effendi ">
        <%= image_tag "thumb65609214indonesia-2.jpg", :width=> "120"%>
        <!-- <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/thumb2430063755.jpg" alt="Desain Kaos Save Orangutan" title="Desain Kaos Save Orangutan di gantibaju.com oleh ramdhani nuzul effendi " width="120"> -->
      </a>
      <!--<div class="designFront-votes"> Votes</div>-->
    </div>
    <div class="designfront">
      <h3><a href="http://www.gantibaju.com/tees/Save-Orangutan/6004" title="Desain Kaos Save Orangutan di gantibaju.com oleh ramdhani nuzul effendi " style="color: rgb(50, 58, 71);">Save Orangutan</a></h3>

      <p><span style="font:italic 1em/1 Georgia,'Times New Roman',Times,serif">oleh</span> <a href="http://www.gantibaju.com/Profile/danzamdan" title="Profile ramdhani nuzul effendi Designer gantibaju.com">ramdhani nuzul effendi</a>, dapat di-vote sampai <span style="font:italic 1em/1 Georgia,'Times New Roman',Times,serif">22 Oct 2011</span></p>
      <p>indonesia 
        mempunyai beberapa hewan yang hapir punah salah satunya orang utan.. 
        maka kita harus selamtkan org hutan dari kepunahan.. ...</p>
        <div class="commentDesignFront"><!--<h3>Komentar Terakhir :</h3>-->
          <div style="position: relative;">
            <a href="http://www.gantibaju.com/artist_page/ramdhani-nuzul-effendi/24300" title="">
              <strong>ramdhani nuzul effendi</strong>
            </a>  berkomentar pada desain ini :
          </div>
          <div class="comment-desc" style="width:380px">
            <p>thx.. padahal lagi iseng     aja nich hehe ^_^</p>

          </div>
        </div>
        <div class="clear">

        </div>
        <div class="commentDesignFront"><span class="voteAccFront" title="9 Votes">9 </span><span class="commentAccFront" title="10 Comment">10</span></div>
      </div>
    </div>
    <div class="clear">

    </div>
    <hr style="color: silver;">
    <div class="" style="display: block;">
      <div class="designfront-image">
        <a href="http://www.gantibaju.com/tees/Kangen-Home/5974" title="Desain Kaos Kangen Home di gantibaju.com oleh triwi ">
          <%= image_tag "thumb65609214indonesia-2.jpg", :width=> "120"%>
          <!-- <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/thumb108797425Kangen-Home-200px-1.jpg" alt="Desain Kaos Kangen Home" title="Desain Kaos Kangen Home di gantibaju.com oleh triwi " width="120"> -->
        </a>
        <!--<div class="designFront-votes"> Votes</div>-->
      </div>
      <div class="designfront">
        <h3><a href="http://www.gantibaju.com/tees/Kangen-Home/5974" title="Desain Kaos Kangen Home di gantibaju.com oleh triwi " style="color: rgb(50, 58, 71);">Kangen Home</a></h3>

        <p><span style="font:italic 1em/1 Georgia,'Times New Roman',Times,serif">oleh</span> <a href="http://www.gantibaju.com/Profile/Wicaks" title="Profile triwi Designer gantibaju.com">triwi</a>, dapat di-vote sampai <span style="font:italic 1em/1 Georgia,'Times New Roman',Times,serif">05 Oct 2011</span></p>
        <p>Indonesia! aku kangen home ...</p>
        <div class="commentDesignFront"><!--<h3>Komentar Terakhir :</h3>-->
          <div style="position: relative;">
            <a href="http://www.gantibaju.com/artist_page/manzur-ghozaali/16011" title="">
              <strong>manzur ghozaali</strong>
            </a>  berkomentar pada desain ini :
          </div>
          <div class="comment-desc" style="width:380px">
            <p>pas banget warnanya dengan implementasinya pada kaos warna putih</p>

          </div>
        </div>
        <div class="clear">

        </div>
        <div class="commentDesignFront"><span class="voteAccFront" title="37 Votes">37 </span><span class="commentAccFront" title="29 Comment">29</span></div>
      </div>
    </div>
    <div class="clear">

    </div>
    <hr style="color: silver;">
    <div class="" style="display: block;">
      <div class="designfront-image">
        <a href="http://www.gantibaju.com/tees/Indonesia-Rumah-Kita/5972" title="Desain Kaos Indonesia Rumah Kita di gantibaju.com oleh Shandy Ardiansyah ">
          <%= image_tag "thumb65609214indonesia-2.jpg", :width=> "120"%>
          <!-- <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/thumb180556780thumbnail.jpg" alt="Desain Kaos Indonesia Rumah Kita" title="Desain Kaos Indonesia Rumah Kita di gantibaju.com oleh Shandy Ardiansyah " width="120"> -->
        </a>
        <!--<div class="designFront-votes"> Votes</div>-->
      </div>
      <div class="designfront">
        <h3><a href="http://www.gantibaju.com/tees/Indonesia-Rumah-Kita/5972" title="Desain Kaos Indonesia Rumah Kita di gantibaju.com oleh Shandy Ardiansyah " style="color: rgb(50, 58, 71);">Indonesia Rumah Kita</a></h3>

        <p><span style="font:italic 1em/1 Georgia,'Times New Roman',Times,serif">oleh</span> <a href="http://www.gantibaju.com/Profile/shandya" title="Profile Shandy Ardiansyah Designer gantibaju.com">Shandy Ardiansyah</a>, dapat di-vote sampai <span style="font:italic 1em/1 Georgia,'Times New Roman',Times,serif">05 Oct 2011</span></p>
        <p></p><p>Seorang 
          gadis membentuk pose sebuah rumah dengan kedua tangannya dengan ceria.  
          Oh, ini lah rumahku. Indonesia.     detail: http://bit ...</p>
          <div class="commentDesignFront"><!--<h3>Komentar Terakhir :</h3>-->
            <div style="position: relative;">
              <a href="http://www.gantibaju.com/artist_page/Aditya-Sapta-Aji/14979" title="">
                <strong>Aditya Sapta Aji</strong>
              </a>  berkomentar pada desain ini :
            </div>
            <div class="comment-desc" style="width:380px">
              <p>Karakter ceweknya lucu.. . :)) Berasa korea korea gitu. Hehe.. .</p>

            </div>
          </div>
          <div class="clear">

          </div>
          <div class="commentDesignFront"><span class="voteAccFront" title="27 Votes">27 </span><span class="commentAccFront" title="21 Comment">21</span></div>
        </div>
      </div>
      <div class="clear">

      </div>
      <hr style="color: silver;">
      <div class="" style="display: block;">
        <div class="designfront-image">
          <a href="http://www.gantibaju.com/tees/Home-Sweet-Arts/5962" title="Desain Kaos Home Sweet Arts di gantibaju.com oleh johanan ade ">
            <%= image_tag "thumb65609214indonesia-2.jpg", :width=> "120"%>
            <!-- <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/thumb197069454kecil.jpg" alt="Desain Kaos Home Sweet Arts" title="Desain Kaos Home Sweet Arts di gantibaju.com oleh johanan ade " width="120"> -->
          </a>
          <!--<div class="designFront-votes"> Votes</div>-->
        </div>
        <div class="designfront">
          <h3><a href="http://www.gantibaju.com/tees/Home-Sweet-Arts/5962" title="Desain Kaos Home Sweet Arts di gantibaju.com oleh johanan ade " style="color: rgb(50, 58, 71);">Home Sweet Arts</a></h3>

          <p><span style="font:italic 1em/1 Georgia,'Times New Roman',Times,serif">oleh</span> <a href="http://www.gantibaju.com/Profile/johanan" title="Profile johanan ade Designer gantibaju.com">johanan ade</a>, dapat di-vote sampai <span style="font:italic 1em/1 Georgia,'Times New Roman',Times,serif">05 Oct 2011</span></p>
          <p>sebuah bentuk kekaguman pada Indonesia, rumah bagi banyak seni dan kesenian juga pekerja-pekerja seni yang luar biasa :) ...</p>
          <div class="commentDesignFront"><!--<h3>Komentar Terakhir :</h3>-->
            <div style="position: relative;">
              <a href="http://www.gantibaju.com/artist_page/johanan-ade/19706" title="">
                <strong>johanan ade</strong>
              </a>  berkomentar pada desain ini :
            </div>
            <div class="comment-desc" style="width:380px">
              <p>sebenernye sih maksudnya lebih kaya, kalo gimana negara ini dibangun sama mereka seniman2 hebat gitu</p>

            </div>
          </div>
          <div class="clear">

          </div>
          <div class="commentDesignFront"><span class="voteAccFront" title="31 Votes">31 </span><span class="commentAccFront" title="27 Comment">27</span></div>
        </div>
      </div>
      <div class="clear">

      </div>
      <hr style="color: silver;">
      <div class="clear"></div>
      <a href="http://www.gantibaju.com/pilih-desain/" title="Voting desain kaos lainnya" class="dash dash3"><span>Voting desain lainnya »</span></a>

 