
<h2 id="recommend">Pilihan Terbaru 
  <a href="http://www.gantibaju.com/belanja" title="Lihat semua kaos" class="dash dash3">
    <span>Lihat semua kaos »</span>
  </a>
</h2>

<div style="height: 346px;" class="kaos grid_4" itemscope="" itemtype="http://data-vocabulary.org/Product">
  <div class="kaos-image">
    <span style="display:none;" itemprop="brand">gantibaju</span>
    <%= image_tag "7d74aeaeb7f1988bfa037e4fe5e960d9_ing-thumb2.jpg" ,
     :height => "300", :width => "220"%>
     <!--     <img itemprop="image" id="shirt85" class="imgLarge tee_gl" src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/73fb176f50e9329db8aaa2882c00518d_220x300.jpg" alt="Desain Kaos Mas Bagong gantibaju.com" height="300" width="220"> -->

    <div class="kaos-price" itemscope="" itemtype="http://data-vocabulary.org/Offer">
      <meta itemprop="currency" content="IDR">				
      Rp. <span itemprop="price">150.000</span>
    </div>

    <div class="badge badge-new">New</div>

    <a href="http://www.gantibaju.com/tshirt/Mas-Bagong/85" title="Kaos Mas Bagong gantibaju.com">Mas Bagong</a>
  </div>
  <div class="kaos-desc" itemprop="category" content="Kaos / Tshirt">
    <h3><a href="http://www.gantibaju.com/tshirt/Mas-Bagong/85" title="Desain Kaos Mas Bagong gantibaju.com" itemprop="name">Mas Bagong</a></h3>
    <p><span>oleh</span> <a href="http://www.gantibaju.com/artist_page/noor-van-anwar/2903" title="Profile noor van anwar Designer gantibaju.com">noor van anwar</a></p>
  </div>
</div>
<div style="height: 346px;" class="kaos grid_4" itemscope="" itemtype="http://data-vocabulary.org/Product">
  <div class="kaos-image">
    <span style="display:none;" itemprop="brand">gantibaju</span>
    
    <%= image_tag "7d74aeaeb7f1988bfa037e4fe5e960d9_ing-thumb2.jpg" ,
     :height => "300", :width => "220"%>
     
     
<!--     <img itemprop="image" id="shirt91" class="imgLarge tee_gl" src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/a7bece0884a4a292aace6a8e4c2b3be6_220x300.jpg" alt="Desain Kaos Tipe Pekerja Keras gantibaju.com" height="300" width="220"> -->

    <div class="kaos-price" itemscope="" itemtype="http://data-vocabulary.org/Offer">
      <meta itemprop="currency" content="IDR">				
      Rp. <span itemprop="price">85.000</span>
    </div>

    <div class="badge badge-new">New</div>

    <a href="http://www.gantibaju.com/tshirt/Tipe-Pekerja-Keras/91" title="Kaos Tipe Pekerja Keras gantibaju.com">Tipe Pekerja Keras</a>
  </div>
  <div class="kaos-desc" itemprop="category" content="Kaos / Tshirt">
    <h3><a href="http://www.gantibaju.com/tshirt/Tipe-Pekerja-Keras/91" title="Desain Kaos Tipe Pekerja Keras gantibaju.com" itemprop="name">Tipe Pekerja Keras</a></h3>
    <p><span>oleh</span> <a href="http://www.gantibaju.com/Profile/DarthRama" title="Profile Rama Dhani Designer gantibaju.com">Rama Dhani</a></p>
  </div>
</div>
<div style="height: 346px;" class="kaos grid_4" itemscope="" itemtype="http://data-vocabulary.org/Product">
  <div class="kaos-image">
    <span style="display:none;" itemprop="brand">gantibaju</span>
    <%= image_tag "7d74aeaeb7f1988bfa037e4fe5e960d9_ing-thumb2.jpg" ,
     :height => "300", :width => "220"%>
    <!-- <img itemprop="image" id="shirt117" class="imgLarge tee_gl" src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/Guys-Sumpah-Pocong-Cewe-1.jpg" alt="Desain Kaos Sumpah Pocong Cewek gantibaju.com" height="300" width="220"> -->

    <div class="kaos-price" itemscope="" itemtype="http://data-vocabulary.org/Offer">
      <meta itemprop="currency" content="IDR">				
      Rp. <span itemprop="price">120.000</span>
    </div>

    <div class="badge badge-new">New</div>

    <a href="http://www.gantibaju.com/tshirt/Sumpah-Pocong-Cewek/117" title="Kaos Sumpah Pocong Cewek gantibaju.com">Sumpah Pocong Cewek</a>
  </div>
  <div class="kaos-desc" itemprop="category" content="Kaos / Tshirt">
    <h3><a href="http://www.gantibaju.com/tshirt/Sumpah-Pocong-Cewek/117" title="Desain Kaos Sumpah Pocong Cewek gantibaju.com" itemprop="name">Sumpah Pocong Cewek</a></h3>
    <p><span>oleh</span> <a href="http://www.gantibaju.com/Profile/ganjarelex" title="Profile Ganjar Darmayekti Designer gantibaju.com">Ganjar Darmayekti</a></p>
  </div>
</div>

<div style="height: 346px;" class="kaos grid_4" itemscope="" itemtype="http://data-vocabulary.org/Product">
  <div class="kaos-image">
    <span style="display:none;" itemprop="brand">gantibaju</span>
    <%= image_tag "7d74aeaeb7f1988bfa037e4fe5e960d9_ing-thumb2.jpg" ,
     :height => "300", :width => "220"%>
    <!-- <img itemprop="image" id="shirt44" class="imgLarge tee_gl" src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/59c9fd87c3be1f9354d54760305f5429_iloveindo-thumb2.jpg" alt="Desain Kaos I Love Indonesia Cewe gantibaju.com" height="300" width="220"> -->

    <div class="kaos-price" itemscope="" itemtype="http://data-vocabulary.org/Offer">
      <meta itemprop="currency" content="IDR">				
      Rp. <span itemprop="price">120.000</span>
    </div>

    <div class="badge badge-fewleft">FewLeft</div>

    <a href="http://www.gantibaju.com/tshirt/I-Love-Indonesia-Cewe/44" title="Kaos I Love Indonesia Cewe gantibaju.com">I Love Indonesia Cewe</a>
  </div>
  <div class="kaos-desc" itemprop="category" content="Kaos / Tshirt">
    <h3><a href="http://www.gantibaju.com/tshirt/I-Love-Indonesia-Cewe/44" title="Desain Kaos I Love Indonesia Cewe gantibaju.com" itemprop="name">I Love Indonesia Cewe</a></h3>
    <p><span>oleh</span> <a href="http://www.gantibaju.com/Profile/inumocca" title="Profile inumocca Designer gantibaju.com">inumocca</a></p>
  </div>
</div>
<div style="height: 346px;" class="kaos grid_4" itemscope="" itemtype="http://data-vocabulary.org/Product">
  <div class="kaos-image">
    <span style="display:none;" itemprop="brand">gantibaju</span>
    
    <%= image_tag "7d74aeaeb7f1988bfa037e4fe5e960d9_ing-thumb2.jpg" ,
     :height => "300", :width => "220"%>
    <!-- <img itemprop="image" id="shirt28" class="imgLarge tee_gl" src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/7d74aeaeb7f1988bfa037e4fe5e960d9_ing-thumb2.jpg" alt="Desain Kaos Ing Ngayogyakarto gantibaju.com" height="300" width="220"> -->

    <div class="kaos-price" itemscope="" itemtype="http://data-vocabulary.org/Offer">
      <meta itemprop="currency" content="IDR">				
      Rp. <span itemprop="price">60.000</span>
    </div>

    <div class="badge badge-sale">OnSale</div>


    <a href="http://www.gantibaju.com/tshirt/Ing-Ngayogyakarto/28" title="Kaos Ing Ngayogyakarto gantibaju.com">Ing Ngayogyakarto</a>
  </div>
  <div class="kaos-desc" itemprop="category" content="Kaos / Tshirt">
    <h3><a href="http://www.gantibaju.com/tshirt/Ing-Ngayogyakarto/28" title="Desain Kaos Ing Ngayogyakarto gantibaju.com" itemprop="name">Ing Ngayogyakarto</a></h3>
    <p><span>oleh</span> <a href="http://www.gantibaju.com/Profile/mumolabs" title="Profile Rayi Christian Wicaksono Designer gantibaju.com">Rayi Christian Wicaksono</a></p>
  </div>
</div>
<div style="height: 346px;" class="kaos grid_4" itemscope="" itemtype="http://data-vocabulary.org/Product">
  <div class="kaos-image">
    <span style="display:none;" itemprop="brand">gantibaju</span>
    <%= image_tag "7d74aeaeb7f1988bfa037e4fe5e960d9_ing-thumb2.jpg" ,
     :height => "300", :width => "220"%>
    <!-- <img itemprop="image" id="shirt35" class="imgLarge tee_gl" src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/620f99f94916f9adc346ec8e537d6d66_koprolria-thumb.jpg" alt="Desain Kaos Ber-koprol Ria Cewe gantibaju.com" height="300" width="220"> -->

    <div class="kaos-price" itemscope="" itemtype="http://data-vocabulary.org/Offer">
      <meta itemprop="currency" content="IDR">				
      Rp. <span itemprop="price">59.500</span>
    </div>

    <div class="badge badge-fewleft">FewLeft</div>

    <a href="http://www.gantibaju.com/tshirt/Ber-koprol-Ria-Cewe/35" title="Kaos Ber-koprol Ria Cewe gantibaju.com">Ber-koprol Ria Cewe</a>
  </div>
  <div class="kaos-desc" itemprop="category" content="Kaos / Tshirt">
    <h3><a href="http://www.gantibaju.com/tshirt/Ber-koprol-Ria-Cewe/35" title="Desain Kaos Ber-koprol Ria Cewe gantibaju.com" itemprop="name">Ber-koprol Ria Cewe</a></h3>
    <p><span>oleh</span> <a href="http://www.gantibaju.com/artist_page/taurus-boy/3613" title="Profile taurus boy Designer gantibaju.com">taurus boy</a></p>
  </div>
</div>
<div style="height: 346px;" class="kaos grid_4" itemscope="" itemtype="http://data-vocabulary.org/Product">
  <div class="kaos-image">
    <span style="display:none;" itemprop="brand">gantibaju</span>
      <%= image_tag "7d74aeaeb7f1988bfa037e4fe5e960d9_ing-thumb2.jpg" ,
       :height => "300", :width => "220"%>
    <!-- <img itemprop="image" id="shirt77" class="imgLarge tee_gl" src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/88b09000590da745c39b3f59e8b13229_220x300.jpg" alt="Desain Kaos Impian gantibaju.com" height="300" width="220"> -->

    <div class="kaos-price" itemscope="" itemtype="http://data-vocabulary.org/Offer">
      <meta itemprop="currency" content="IDR">				
      Rp. <span itemprop="price">180.000</span>
    </div>

    <div class="badge badge-fewleft">FewLeft</div>

    <a href="http://www.gantibaju.com/tshirt/Impian/77" title="Kaos Impian gantibaju.com">Impian</a>
  </div>
  <div class="kaos-desc" itemprop="category" content="Kaos / Tshirt">
    <h3><a href="http://www.gantibaju.com/tshirt/Impian/77" title="Desain Kaos Impian gantibaju.com" itemprop="name">Impian</a></h3>
    <p><span>oleh</span> <a href="http://www.gantibaju.com/Profile/equivalent" title="Profile Eky Jiwo Primanto Putra Designer gantibaju.com">Eky Jiwo Primanto Putra</a></p>
  </div>
</div>
<div style="height: 346px;" class="kaos grid_4" itemscope="" itemtype="http://data-vocabulary.org/Product">
  <div class="kaos-image">
    <span style="display:none;" itemprop="brand">gantibaju</span>
    <%= image_tag "7d74aeaeb7f1988bfa037e4fe5e960d9_ing-thumb2.jpg" ,
     :height => "300", :width => "220"%>
    <!-- <img itemprop="image" id="shirt38" src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/1d2d53603484ab0d3921924e5d685d48_renggut-thumb.jpg" alt="Desain Kaos Renggut Kemerdekaan gantibaju.com" height="300" width="220"> -->

    <div class="kaos-price" itemscope="" itemtype="http://data-vocabulary.org/Offer">
      <meta itemprop="currency" content="IDR">				
      Rp. <span itemprop="price">150.000</span>
    </div>


    <a href="http://www.gantibaju.com/tshirt/Renggut-Kemerdekaan/38" title="Kaos Renggut Kemerdekaan gantibaju.com">Renggut Kemerdekaan</a>
  </div>
  <div class="kaos-desc" itemprop="category" content="Kaos / Tshirt">
    <h3><a href="http://www.gantibaju.com/tshirt/Renggut-Kemerdekaan/38" title="Desain Kaos Renggut Kemerdekaan gantibaju.com" itemprop="name">Renggut Kemerdekaan</a></h3>
    <p><span>oleh</span> <a href="http://www.gantibaju.com/Profile/iwanrmpl" title="Profile rahmat kurniawan Designer gantibaju.com">rahmat kurniawan</a></p>
  </div>
</div>
<div style="height: 346px;" class="kaos grid_4" itemscope="" itemtype="http://data-vocabulary.org/Product">
  <div class="kaos-image">
    <span style="display:none;" itemprop="brand">gantibaju</span>
    <%= image_tag "7d74aeaeb7f1988bfa037e4fe5e960d9_ing-thumb2.jpg" ,
     :height => "300", :width => "220"%>
    <!-- <img itemprop="image" id="shirt69" class="imgLarge tee_gl" src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/945f392b8b23fb9361c008e003706601_220x300.jpg" alt="Desain Kaos Macet Lagi Cewe gantibaju.com" height="300" width="220"> -->

    <div class="kaos-price" itemscope="" itemtype="http://data-vocabulary.org/Offer">
      <meta itemprop="currency" content="IDR">				
      Rp. <span itemprop="price">120.000</span>
    </div>

    <div class="badge badge-ladies">Ladies</div>

    <a href="http://www.gantibaju.com/tshirt/Macet-Lagi-Cewe/69" title="Kaos Macet Lagi Cewe gantibaju.com">Macet Lagi Cewe</a>
  </div>
  <div class="kaos-desc" itemprop="category" content="Kaos / Tshirt">
    <h3><a href="http://www.gantibaju.com/tshirt/Macet-Lagi-Cewe/69" title="Desain Kaos Macet Lagi Cewe gantibaju.com" itemprop="name">Macet Lagi Cewe</a></h3>
    <p><span>oleh</span> <a href="http://www.gantibaju.com/Profile/emberplastik" title="Profile emberplastik Designer gantibaju.com">emberplastik</a></p>
  </div>
</div>