<div id="left-content">
  <!-- slider begin -->
  <%= render :partial => "shared/slider"%>
  
  <div class="clear"></div>
  <div class="separator"></div>
  
  <%= render :partial => "entries"%>
  <%= render :partial => "view_more"%>
  
  <div class="separator"></div>
  <%= render :partial => "shared/voting_comment" %>
</div><!-- div#left-content -->
  
<%= render :partial =>"shared/right_content"%>
