<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/">
<head>
  <title>Tunjukkan stylemu! | 2ndSkin.me</title>
  <meta name="Description" content="Semua orang bisa menjadi model, hanya masalah apakah mereka
  didukung oleh informasi style fashion">
  <meta name="title" content="Tunjukkan stylemu! -  Gantibaju.com">
  <meta name="Keywords" content="Semua orang bisa menjadi model, hanya masalah apakah mereka
  didukung oleh informasi style">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta property="og:site_name" content="www.2ndskin.me">
  <meta property="fb:app_id" content="2343242">
  <meta property="og:description" content="Semua orang bisa menjadi model, hanya masalah apakah mereka
  didukung oleh informasi style">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="Content-Language" content="en-US">
  <meta name="author" content="2ndskin.me">
  <meta name="copyright" content="Copyright 2010 2ndskin.me">




<!--[if IE]>
<link rel="stylesheet" type="text/css" href="http://www.gantibaju.com/css/ie-fix.css"/>
<%= stylesheet_link_tag "ie-fix" %>
<![endif]-->

</head>
 

<body>
  <div class=" fb_reset" id="fb-root">
    <div style="position: absolute; top: -10000px; height: 0pt; width: 0pt;"></div>
  </div>
  
  <%= render :partial => "shared/main_nav"%>
  
  <div id="warningmsg" align="center">
  </div>
  

  <div id="wrap" class="baju">
    <div id="main"  style="padding-bottom: 224px;" class="clearfix">
      <%= render :partial => "shared/menu" %>

      <div class="clear"></div>

      <%= render :partial => "shared/breadcrumb"%>

      <div class="clear"></div>

      <h1 style="display:none;"><a href="http://2ndSkin.me/">Tunjukkan Style Mu!</a></h1>
      <h2 style="display:none;"><a href="http://2ndSkin.me/">Tunjukkan Style Mu!</a></h2>



      <div id="content" class="container_16 clearfix">
        <div class="clear"></div>
        <%= yield %>
        <div class="clear"></div>
      </div> <!--content-->
    </div> <!--main-->
  </div> <!-- end of #wrap -->
  <%= render :partial => "shared/footer" %>
  <%= render :partial => "shared/fancybox_tmp"%>
  


</body>
</html>

